.services {
    display: flex;
    height: 58vh;
    margin-bottom: 8rem;
    margin-top: 9rem;
    margin-bottom: 13rem;
  }
  
  .awesome {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .awesome > :nth-child(1) {
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
  }
  
  .awesome > :nth-child(2) {
    color: var(--lightpurple);
    font-weight: bold;
    font-size: 3rem;
  }
  
  .s-button {
    width: 10rem;
    height: 3rem;
    margin-top: 1rem;
  }
  
  .cards {
    position: relative;
  }
  
  .cards > * {
    position: absolute;
  }
  