.Intro{
    margin-top: 4.5rem;
    height: 60vh;
    margin-bottom: 3rem;
    justify-content: left;
    display: flex;
}
.i-left{
    margin-top: 5px;
    justify-content: left;
    display: flex;
    gap: 1rem;
    position: relative;
    flex-direction: column;
}

.i-name {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  .i-name > :nth-child(1) {
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
  }
  .i-name > :nth-child(2) {
    color: var(--lightpurple);
    font-weight: bold;
    font-size: 3rem;
  }
  .i-name > :nth-child(3) {
    font-weight: 300;
    font-size: 20px;
    color: var(--black);
    margin-top: 10px;
  }

.i-button{
    margin-top: 1rem;
    width: 8rem;
    height: 3rem;
}

.i-button>*{
  display: flex;
  flex-direction: column;
}

.i-icons{
    position: absolute;
    display: flex;
    gap: 5rem;
    transform: scale(0.2);
    top: 50%;
    left: -28rem;
}

.i-icons>*{
  justify-content: space-between;
}

.i-icons > *:hover {
   cursor: pointer;
} 

.i-right {
    display: flex;
    position: relative;
  }

  .i-right>*{
      position: absolute;
      top: -10%;
  }

  .i-right>:nth-child(1){
    transform: scale(0.8);    
    left: 13rem;
  }

  .i-right>:nth-child(2){
    transform: scale(0.8);
    
    left: 13rem;
  }

  .i-right>:nth-child(3){
      top: 1.4%;
      transform: scale(1.1);
      left: -1rem;
  }

  .i-right>:nth-child(4){
    transform: scale(0.6);
}

  .i-right>:nth-child(5){
      top: 5%;
      right: -750px;
  }

  .i-right>:nth-child(6){
    top: 90%;
    right: -300px;
}

.blur{
  position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background-color: #f2ffd0;
    z-index: -9;
    top: -5%;
    right: -750px;
    filter: blur(72px);
}

