:root {
  --lightpurple: #d053fc;
  --yellow: #f5c32c;
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --blueCard: #ddf8fe;
  --purple: rgb(238 210 255);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --lightpurpleCard: rgba(208, 83, 252, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.App {
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--black);
  margin: 0;
  box-sizing: border-box;
  font-style: Gumela Regular;
}

.button {
  background: linear-gradient(180deg, #d053fc 26.71%, #d053fc 99.36%);
  box-shadow: 0px 20px 24px 3px rgba(208, 83, 252, 0.42);
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
}

.button:hover {
  background: white;
  cursor: pointer;
  border: 1px solid var(--lightpurple);
  color: var(--lightpurple);
}

/* @media screen and (max-width: 480px) {
  .App {
    padding: 0.5rem 1rem;

  }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
} */
